<div class="col-md-10 col-md-offset-1 charts-overlay">
  <div id="chart-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#chart-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#chart-carousel" data-slide-to="1"></li>
      <li data-target="#chart-carousel" data-slide-to="2"></li>
      <li data-target="#chart-carousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active" id="chart-container">

      </div>

      <div class="item">

      </div>

      <div class="item">

      </div>

      <div class="item">

      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#chart-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#chart-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</div>
