<div class="col-md-10 col-md-offset-1 charts-overlay">
  <div class="">
    <div class="" id="chart-container"></div>
  <!-- <div class="panel-body" id="dual-line-chart-main">
    <div class="panel-body" id="line-chart-top"></div>
    <div class="panel-body" id="line-chart-bottom"></div>
  </div> -->
  </div>
</div>
