<div class="row main-row">
  <div class="col-xs-9 col-sm-4 col-md-4 col-lg-3 map-search">
    <form id="search-box">
      <div class="input-group search-bar">
        <input type="text" class="  search-query form-control" placeholder="Search" />
          <span class="input-group-btn">
            <button class="btn btn-danger submit-button" type="submit">
            <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
      </div>
    </form>
    <!-- <form class="input-group search-bar" id="search-box" role="search">
      <div class="form-group">
        <input type="text" class="form-control search-form" placeholder="Search for city, state">
      </div>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default submit-button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </form> -->
  </div>
  <div class="col-sm-12 col-md-12 sidebar pull-left">
    <div class="panel-body" id="chart-container"></div>
  </div>
  <div class="col-sm-4 col-md-6 mid"></div>
  <div class="col-sm-4 col-md-3 sidebar sidebar-right pull-right">
    <div class="panel-group sidebar-body" id="accordion-right">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#taskpane">
              <i class="fa fa-tasks"></i>
              Task Pane
            </a>
            <span class="pull-right slide-submenu">
              <i class="fa fa-chevron-right"></i>
            </span>
          </h4>
        </div>
        <div id="taskpane" class="panel-collapse collapse in">
          <div class="panel-body">
            <p>
              Lorem ipsum dolor sit amet, vel an wisi propriae. Sea ut graece gloriatur. Per ei quando dicant vivendum. An insolens appellantur eos, doctus convenire vis et, at solet aeterno intellegebat qui.
            </p>
            <p>
              Elitr minimum inciderint qui no. Ne mea quaerendum scriptorem consequuntur. Mel ea nobis discere dignissim, aperiam patrioque ei ius. Stet laboramus eos te, his recteque mnesarchum an, quo id adipisci salutatus. Quas solet inimicus eu per. Sonet conclusionemque id vis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mini-submenu mini-submenu-right pull-right">
  <i class="fa fa-tasks"></i>
</div>
</div>


