<div id="loading"><img src = "<%= asset_path('gps.gif') %>" ></div>
<%= render partial: "navbar", layout: false %>

<div id='map'></div> <!-- MAP DIV -->


<%= render partial: "panels", layout: false %>
