<%= render partial: "navbar", layout: false %>


    <div id="line-temp-container" style="height: 75px; min-width: 250px; max-width: 300px; margin: 0 auto"></div>
    <div id="line-humid-container" style="height: 75px; min-width: 250px; max-width: 300px; margin: 0 auto"></div>
    <div id="heatmap-container" style="height: 75px; min-width: 310px; max-width: 475px; margin: 0 auto"></div>
    <div id="scatterplot-container"></div>

<%= render partial: "panels", layout: false %>