<%= render partial: "navbar", layout: false %>


    <div id="test-container3"></div>
    <div id="test-container4"></div>
    <div id="test-container1" style="height: 400px; min-width: 310px; max-width: 800px; margin: 0 auto"></div>
    <div id="test-container2"></div>

<%= render partial: "panels", layout: false %>