$(document).ready(function(){
  L.mapbox.accessToken = '<%= ENV['MAPBOX_KEY'] %>';

  getMarkerData();

});


var getMarkerData = function(){
  var map = L.mapbox.map('map', 'mapbox.dark').setView([39.114102, -94.627478], 4);
    $.get('/data', 'json').done(function(data){
      var markers = new L.MarkerClusterGroup();

      for (var i = 0; i < data.length; i ++) {
      var d = data[i];
      var content = '<h2><a href="http://www.google.com">'+ d.city + '</a></h2><p>'+ d.temp +'</p>';
      if (d.temp >= 99.5) {
        var marker = L.marker(new L.LatLng(d.latitude, d.longitude),{
          icon: L.mapbox.marker.icon({'marker-color': 'FF6666', 'marker-symbol': 'fire-station'}),
          content: content,
          city: d.city,
          state: d.state,
          temp: d.temp
        });
      } else {
        var marker = L.marker(new L.LatLng(d.latitude, d.longitude),{

          icon: L.mapbox.marker.icon({'marker-color': '#99cfe0', 'marker-symbol': 'ice-cream'}),
          content: content,
          city: d.city,
          state: d.state,
          temp: d.temp
        });
      };
      marker.bindPopup(content);
      marker.on('click', function(e){
        console.log(this.options.city + ", " + this.options.state);
      })
      markers.addLayer(marker);
    }
      map.addLayer(markers);
    })
};
