/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  font-family: 'Oxygen';
}

.navbar-default {
  opacity: 0.7;
  background-color: #000;
  border: none;
}

.navbar-logo {
  padding: 5px 5px 0 15px;
}

.panel {
  border-color: #222222;
}

.panel-title, .navbar-brand {
  color: #ffffff;
}

.form-control {
  border-radius: 8px 0 0 8px;
  padding: 20px;
}

.search-error {
  padding-top: 0;
  padding-bottom: 0;
}

.submit-button {
  padding: 10px;
}

.landing-row {
  position: absolute;
}

@media only screen and (max-width: 480px) {
  .navbar-brand {
    font-size: 0.9em;
  }

  .navbar-logo {
    padding: 10px 5px 0 15px;
  }
}
