// Place all the styles related to the charts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.highcharts-container {
  width: 100%!important;
  height: 100%!important;
}
#chart-container {
  width: 100%;
}

#chart-sidepanel {
  padding: 0px;
}

#taskpane {
  height: 100%;
}

#chart-sidepanel-body {
  /*height: 100%;*/
}

#linechart-container-sidebar {
  height: 100%;
}

#heatmap-container-sidebar {
  height: 100%;
}

.charts-overlay {
  display: none;
  top: 150px;
  z-index: 52;
  position: absolute!important;
}

.small-chart {
 height: 10vh;
 padding: 5px;
 border-radius: 2px;
 width: 50%
}

.display-inline-block { display: inline-block; }

.float-right { float: right}

.hover-div:hover {background: #f5f5f5;}

.float-left {float: left}
.overflow-hidden { overflow: auto}

.vertical-align-middle {vertical-align: middle}

.border-1 {

}

.sidebar-holders {
  background-color: #fff;
  margin: 3px;
}

.sidebar-text {
}

