// Place all the styles related to the charts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart-container {
  float: left;
  width: 100%;
}


